

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
h1 {
  margin: 0;
  padding: 5px 0 5px 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}

.nav {
  background-color: #fff;
}
.nav-footer {
  width: 100%;
  height: 60px;
  background-color: #ec5656;
  /* margin-top: auto; */
  position: absolute;
  bottom: 0;
}
.btn-add {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ec5656;
  position: relative;
  margin: 0 auto;
  color: #fff;
  font-size: 90px;
  top: -35px;
  cursor: pointer;
}
.wrapper {
  position: relative;
  width: 1024px;
  margin: 50px auto;
  height: 768px;
  background-color: #353535;
  border-radius: 40px;
  padding: 30px 100px 30px 80px;
}

.wrapper .desktop {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  /* display: flex;
  flex-wrap: nowrap;
  flex-direction: column; */
}

.wrapper .touch-pad {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #5c5c5c;
  border: 1px inset #7b7b7b;
}

.wrapper .ribbon {
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
  left: 0;
  background: url(https://cdn-images-1.medium.com/fit/c/200/200/1*PKHCHuLxDyZ8SV3PKxzizA.png)
    no-repeat center center / 100%;
  width: 85px;
  height: 180px;
  transform: rotate(270deg);
}

.screen {
  width: 100%;
  height: calc(100% - 111px);
  overflow-y: auto;
}

.pokemon-progressbar {
  width: 100%;
  height: 20px;
  background-color: #e4e4e4;
  box-shadow: 0px 2px 8px 0px #d4d4d4;
  border-radius: 20px;
}
.pokemon-progress {
  height: 20px;
  background-color: #f3701a;
  border-radius: 20px;
}

.card {
  position: relative;
  padding: 15px;
  background-color: #f3f4f7;
  box-shadow: 0 2px 8px 0 #d5d6dc;
  margin-bottom: 15px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.card-image {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}

.card-detail {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 600px;
}

.pokemon-header {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.pokemon-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.pokemon-detail-status {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 70px;
}

.pokemon-detail-graph {
  flex-grow: 1;
  flex-shrink: 1;
}

.pokemon-happiness{
  margin-top:15px;
}


.card:hover p.click-action{
  opacity: 1;
}

p.click-action{
  font-size: 20px;
  color:#dc7777;
  font-weight: bold;
  cursor: pointer;
  display: table;
  position: absolute;
  right:20px;
  top:20px;
  opacity: 0;
}

.pokedex-layout{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 0 10px;
}

.pokedex-layout-block{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 10px);
}