.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 2;
}

.search-container {
  position: relative;
  padding: 10px;
}

.search-inner {
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-icon {
  margin-left: auto;
  order: 2;
}
input[type="text"] {
  border: 0;
  outline: none;
  font-size: 16px;
  font-family: "Atma", cursive;
  padding-left: 10px;
  width: 100%;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: calc(100% - 40px);
  height: calc(100% - 25px);
  z-index: 3;
}
.modal-body {
  max-height: 671px;
  overflow-y: auto;
  padding: 0 15px;
}
